[submodule "esp32-s3-box-3/components/srtp"]
	path = esp32-s3-box-3/components/srtp
	url = https://git@github.com/sepfy/esp_ports
[submodule "esp32-s3-box-3/deps/libpeer"]
	path = esp32-s3-box-3/deps/libpeer
	url = https://github.com/aconchillo/libpeer.git
[submodule "esp32-s3-box-3/components/esp-libopus"]
	path = esp32-s3-box-3/components/esp-libopus
	url = https://github.com/XasWorks/esp-libopus.git
[submodule "esp32-s3-box-3/components/esp-protocols"]
	path = esp32-s3-box-3/components/esp-protocols
	url = https://github.com/espressif/esp-protocols.git
